#leftArrow, #rightArrow
{
	width: 15%;
	height: 20%;
	display: inline-block;
	text-align: center;
}

#middle
{
	display: inline-block;
	color: black;
	width: 68%;
	text-align: center;
}

#container-mid, #headers
{
	text-align: center;
}

.head-class
{
	display: inline-block;
	width: 13%;
}

.head-class, #middle, .divDate {
	border-color: black;
	border-style: solid;
	border-width: 1px;
}