#leftArrow, #rightArrow
{
	width: 15%;
	height: 20%;
	display: inline-block;
	text-align: center;
}

#middle
{
	display: inline-block;
	background-color: grey;
	color: black;
	width: 69%;
	text-align: center;
}

#container-mid
{
	text-align: center;
}
